---
title: About Gignal
description: "Gignal, a Social Media Billboard"
content: _markdown/about.md
---


<div class="banner" id="banner-about"></div>

<div class="container">

  <h2>{{title}}</h2>

  {{{md content}}}

</div>
