---
title: "Case: Brands"
description: Brands using Gignal
content: _markdown/cases_brands.md
---

<div class="banner" id="banner-case-brands"></div>

<div class="container">

  <h2>{{title}}</h2>

  {{{md content}}}

  <p class="text-center">
    <a href="https://gignal.parseapp.com/" class="btn btn-success btn-lg">Get started</a>
  </p>

</div>
