---
title: Cases
description: Gignal Cases
pageid: page
---

<div class="content">

			<div class="grid_3 clear">
					<div class="sidebox">
							<p>Do you have any questions about Gignal? Don't hesitate to  <a href="mailto:team@gignal.com">contact us.</a></p>
					</div>
			</div>
			<div class="grid_9">
											<div id="conferences" class="blogpost contain_float">
							<div class="grid_3 alpha"><img src="./images/photos/conference.jpg" alt="blog post"></div>
							<div class="grid_6 omega"><span class="author"></span>
									<h2 class="big">Conferences</h2>
									<p><p>
For conferences networking and knowledge is central. With Gignal conferences attendees can follow other peoples thoughts at the conference, and people outside can get insight and summaries from the speaks. People can see who else is attending f...</p>
									<a href="./cases_conferences.html" class="more">read more..</a>
							</div>
					</div>
												<div id="festivals-and-music" class="blogpost contain_float">
							<div class="grid_3 alpha"><img src="./images/photos/case_music.JPG" alt="blog post"></div>
							<div class="grid_6 omega"><span class="author"></span>
									<h2 class="big">Festivals and Music</h2>
									<p><p>
When your audience are at your festival or concert, they share a collective experience. They do not know each other, which only makes their relation relevant as long as your event takes place. With Gignal audience in- and outside your festival ...</p>
									<a href="./cases_festivals.html" class="more">read more..</a>
							</div>
					</div>
												<div id="sports" class="blogpost contain_float">
							<div class="grid_3 alpha"><img src="./images/photos/case_sport_billboard.png" alt="blog post"></div>
							<div class="grid_6 omega"><span class="author"></span>
									<h2 class="big">Sports</h2>
									<p><p>
When audiences attend or watch a sports game, they want to see what other people are experiencing. In that moment where your sport event is taking place, strangers wants to connect to share this moment. With Gignal on your website and billboard...</p>
									<a href="./cases_sport.html" class="more">read more..</a>
							</div>
					</div>
												<div id="brands-and-companies" class="blogpost contain_float">
							<div class="grid_3 alpha"><img src="./images/photos/case_brand.png" alt="blog post"></div>
							<div class="grid_6 omega"><span class="author"></span>
									<h2 class="big">Brands and companies</h2>
									<p><p>
Show what people are saying about your brand, products or topics surrounding your business. Own and present your branded buzz, and drive traffic to your website. With Gignal your users will go to your website to follow your community conversati...</p>
									<a href="./cases_brands.html" class="more">read more..</a>
							</div>
					</div>
												<div id="personal-and-small-business" class="blogpost contain_float">
							<div class="grid_3 alpha"><img src="./images/photos/personal.png" alt="blog post"></div>
							<div class="grid_6 omega"><span class="author"></span>
									<h2 class="big">Personal and small business</h2>
									<p><p>
For individuals and small companies that sees a value in presenting all their buzz across social networks. Simply add our widget code on your website, and share your social network messages and pictures from Twitter, Facebook and Flickr.&nbsp;<...</p>
									<a href="./cases_personal.html" class="more">read more..</a>
							</div>
					</div>
										</div>
	</div>
</div>

