---
title: Welcome to Gignal
description: Gignal amplifies the voice of your audience
pageid: index
---

<div class="container_12">

  <div class="group">

    <div class="header">
      <div class="grid_6 headerLeft">
        <p>Gignal amplifies the voice of your audience, by taking physical events online, and presenting what your customers are sharing about and around your brand.</p>
        <p class="orange">Scroll down and let us show you.</p>
        <div class="create_event_hp">
          <a href="https://gignal.parseapp.com/"><img src="./images/btn_signup_big.png" alt="Sign up now"></a><br>
          <a href="https://gignal.parseapp.com/#eventCreate"><img src="./images/btn_createstream_blue.png" alt="create stream"></a>
        </div>
      </div>
      <div class="grid_6">
        <img src="./images/illustration01.gif" alt="" class="head_illustration">
        <div class="laptop">
          <img src="./images/main_lap.png" alt="Labtop" class="curtain-cover">
          <img src="./images/curtain.png" alt="Website" class="curtain-img">
        </div>
      </div>
    </div>

    <div class="content contain_float">

      <div class="grid_7 td">
        <img src="./images/bilboards.png" alt="bilboards" class="curtain-cover">
        <img src="./images/stream.png" alt="Stream" class="stream-img">
      </div>

      <div class="grid_5">
      
        <div class="steamtype">
          <h4 class="typehead">Conferences</h4>
          <p>Take your physical event online! Let your audience share knowledge and connect through your website and screens.</p>
          <a href="./cases.html#conferences" class="btn_viewcase ir">View Case</a> 
          <a href="https://gignal.parseapp.com/#eventCreate" class="btn_eventcreate ir">Create a new event</a>
        </div>
        
        <div class="steamtype">
          <h4 class="typehead">Music</h4>
          <p>Amplify and present your concert or festival, by connecting people offline with people listening online.</p>
          <a href="./cases.html#festivals-and-music" class="btn_viewcase ir">View Case</a> 
          <a href="https://gignal.parseapp.com/#eventCreate" class="btn_eventcreate ir">Create a new event</a>
        </div>
        
        <div class="steamtype">
          <h4 class="typehead">Brands</h4>
          <p>Show your customes passion, by sharing the conversations surrounding your brand. Host the buzz and interaction, get the traffic and increase time spent on your site.</p>
          <a href="./cases.html#brands-and-companies" class="btn_viewcase ir">View Case</a> 
          <a href="https://gignal.parseapp.com/#eventCreate" class="btn_eventcreate ir">Create a new event</a>
        </div>
        
        <div class="steamtype">
          <h4 class="typehead">Sports</h4>
          <p>Share the roars and passion shared on sport venues. Allow your online audience to get physical.</p>
          <a href="./cases.html#sports" class="btn_viewcase ir">View Case</a> 
          <a href="https://gignal.parseapp.com/#eventCreate" class="btn_eventcreate ir">Create a new event</a>
        </div>
        
        <div class="steamtype">
          <h4 class="typehead">Personal</h4>
          <p>Your buzz is your brand - share and show it on your website.</p>
          <a href="./cases.html#personal-and-small-business" class="btn_viewcase ir">View Case</a> 
          <a href="https://gignal.parseapp.com/#eventCreate" class="btn_eventcreate ir">Create a new event</a>
        </div>
          
      </div>

    </div>
  </div>
</div>

<div class="hidecurtain_btm"></div>

<div class="footertop">
	<div class="container_12">
	  <div>
	    <img src="./images/brand_starteur.png" alt="Start europe">
	    <img src="./images/brand_tedX.png" alt="TEDx">
	    <img src="./images/brand_tv2.png" alt="TV2">
	    <img src="./images/brand_rf.png" alt="Rosklide">
	    <img src="./images/brand_sommerBio.png" alt="Sommer Bio">
	  </div>
	</div>
</div>


<script src="./lib/index.js" async></script>
