---
title: Amplify the voice of your audience
description: Your audience speaks in tweets, messages, photos and video. With Gignal you can bring it all together.
---

<div id="index-top">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>{{title}}</h4>
        <p class="lead">{{description}}</h3>
        <p><a href="https://gignal.parseapp.com/" class="btn btn-success btn-lg">Sign up</a></p>
      </div>
      <div class="col-md-offset-1 col-md-6">
        <div id="screen" class="hidden-xs hidden-sm">
          <img src="./img/illustration.gif" alt="illustration" id="illustration">
          <img src="./img/laptop.png" alt="laptop" id="laptop">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="index-cases">
  
  <div class="hide-curtain"></div>
  
  <div class="container">

    <div class="row">
      <div class="col-md-7 hidden-sm hidden-xs">
        <div id="curtain">
          <div id="stream-wrapper">
            <img src="./img/stream.png" alt="stream" id="stream">
          </div>
          <img src="./img/billboards.png" alt="billboards" id="billboards">
        </div>
      </div>
      <div class="col-md-5">

        <section class="teaser">
          <h3>Conferences</h3>
          <p class="lead">Take your physical event online! Let your audience share knowledge and connect through your website and screens.</p>
        </section>

        <section class="teaser">
          <h3>Music</h3>
          <p class="lead">Amplify and present your concert or festival, by connecting people offline with people listening online.</p>
        </section>
      
        <section class="teaser">
          <h3>Brands</h3>
          <p class="lead">Show your customers passion, by sharing the conversations surrounding your brand. Host the buzz and interaction, get the traffic and increase time spent on your site.</p>
        </section>
      
        <section class="teaser">
          <h3>Sport</h3>
          <p class="lead">Share the roars and passion shared on sport venues. Allow your online audience to get physical.</p>
        </section>
      
        <section class="teaser">
          <h3>Personal</h3>
          <p class="lead">Your buzz is your brand, share and show it on your website.</p>
        </section>
      
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="footcall" class="text-center">

    <p><a href="https://gignal.parseapp.com/" class="btn btn-success btn-lg">Get started</a></p>

    <div class="callact">
      <p>For any enquiries please do not hesitate to email us at <a href="mailto:sales@gignal.com">sales@gignal.com</a>. We are happy to offer custom solutions.</p>
    </div>

  </div>
</div>


<div id="clients" class="hidden-xs hidden-sm">
	<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src="./img/brand_starteu_bw.png" alt="Start Europe" class="brand_starteu">
      </div>
      <div class="col-md-2 text-center">
        <img src="./img/brand_tv2.png" alt="TV2" class="brand_tv2">
      </div>
      <div class="col-md-2 text-center">
        <img src="./img/brand_tedxcph_bw.png" alt="TEDx Copenhagen" class="brand_tedxcph">
      </div>
      <div class="col-md-2 text-center">
        <img src="./img/brand_sommerbio.png" alt="Zulu Sommer Bio" class="brand_sommerbio">
      </div>
      <div class="col-md-2 text-center">
        <img src="./img/brand_rf_bw.png" alt="Roskilde Festival" class="brand_rf">
      </div>
      <div class="col-md-2 text-center">
        <a href="https://gignal.parseapp.com/" title="You" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>
</div>
