---
title: Pricing
description: Gignal pricing model
---


<!-- <div class="banner" id="banner-pricing"></div> -->

<div class="container">

  <h2>{{title}}</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Free</th>
          <th>Event</th>
          <th>Brand</th>
          <th>Enterprise</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Price</th>
          <td>0</td>
          <td>$399</td>
          <td>$499</td>
          <td><a href="mailto:sales@gignal.com">sales@gignal.com</a></td>
        </tr>
        <tr>
          <th>Streams</th>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td><strong>&infin;</strong></td>
        </tr>
        <tr>
          <th>Tags</th>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td><strong>&infin;</strong></td>
        </tr>
        <tr>
          <th>Timeframe</th>
          <td>1 day</td>
          <td>2 days</td>
          <td>1 month</td>
          <td><strong>&infin;</strong></td>
        </tr>
        <tr>
          <th>Moderation</th>
          <td><span class="glyphicon glyphicon-minus"></span></td>
          <td><span class="glyphicon glyphicon-minus"></span></td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
        <tr>
          <th>Backup</th>
          <td><span class="glyphicon glyphicon-minus"></span></td>
          <td><span class="glyphicon glyphicon-minus"></span></td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <p class="text-center">
    <a href="https://gignal.parseapp.com/" class="btn btn-success btn-lg">Get started</a>
  </p>

</div>
