<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gignal - {{title}}</title>
  <meta name="description" content="{{ description }}">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="./lib/the.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="http://www.gignal.com/{{ filename }}">
</head>
<body>

  <header class="head">
    <h1 class="hidden">Gignal</h1>
    <div class="container">
      <nav>
        <a href="https://gignal.parseapp.com/" rel="me" class="btn btn-default btn-sm">Sign in</a>
      </nav>
      <div class="text-center">
        <a href="/"><img src="./img/g-72.png" alt="Gignal logo" class="glogo"></a>
      </div>
    </div>
  </header>

  <article>
    {{> body }}
  </article>

  <footer class="foot">
    <div class="container">
      
      <hr>

      <div class="col-md-6">
        <nav class="small">
          <ul class="list-inline">
            <li><a href="./about.html">About Gignal</a></li>
            <li><a href="./pricing.html">Pricing</a></li>
            <li><a href="./legal.html">Legal</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-6">
        <nav class="pull-right small">
          <ul class="list-inline">
            <li><a href="https://twitter.com/gignal" rel="me">Twitter</a></li>
            <li><a href="https://www.facebook.com/gignal" rel="me">Facebook</a></li>
            <li><a href="https://plus.google.com/+Gignalism" rel="me">Google+</a></li>
            <li><a href="http://blog.gignal.com/" rel="me">Blog</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </footer>

</body>
</html>
