.background {
  background: url('../img/bg.png') #f3f3f3;
}
body {
  background: url('../img/bg.png') #f3f3f3;
}
.head {
  position: relative;
  background: url('../img/bg.png') #f3f3f3;
  padding: 15px 0;
}
.head .container {
  position: relative;
}
.head nav {
  position: absolute;
  right: 0;
  top: 0;
}
.head .glogo {
  width: 55px;
  height: 55px;
}
#index-top {
  background-color: #eee;
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}
#index-top #screen {
  position: relative;
}
#index-top #screen #illustration {
  position: absolute;
  top: -105px;
  right: 0;
  width: 400px;
  height: 296px;
}
#index-top #screen #laptop {
  position: absolute;
  top: -10px;
  right: 100px;
  width: 320px;
  height: 320px;
}
.foot {
  padding-top: 60px;
  padding-bottom: 30px;
  background: url('../img/bg.png') #f3f3f3;
}
#index-cases .hide-curtain {
  background: url('../img/bg.png') #f3f3f3;
  height: 50px;
}
#curtain {
  position: relative;
}
#curtain #stream-wrapper {
  position: absolute;
  width: 304;
  left: 145px;
  top: -420px;
}
#curtain #stream-wrapper #stream {
  position: fixed;
  z-index: -1;
  width: 304;
  height: 2033;
}
#curtain #billboards {
  width: 634;
  height: 1567;
}
@media (min-width: 991px) {
  .teaser {
    margin-top: 80px;
    height: 255px;
    background: url('../img/bg.png') #f3f3f3;
  }
  .teaser:first-child {
    margin-top: 0;
  }
  .teaser:last-child {
    height: 200px;
  }
}
#footcall {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/bg.png') #f3f3f3;
}
#footcall .callact {
  width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#clients {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E6E6E6;
}
#clients img {
  max-height: 50px;
}
.banner {
  height: 400px;
  background-size: cover;
  background-position: center center;
}
#banner-legal {
  background-image: url('../img/signature.png');
}
#banner-about {
  background-image: url('../img/about-us-Gignal.jpg');
}
